.moduleOne {
  position: relative;
}
.moduleOne .right-form {
  z-index: 1;
  max-width: 38%;
}
.moduleOne .right-form .inner-common-form {
  padding: 51px 85px 53px 85px;
  border-radius: 4px;
  position: relative;
}
.moduleOne .right-form .inner-common-form h3 {
  padding: 0 0 46px 0;
  font-size: 32px;
}
.moduleOne .right-form .inner-common-form .form-group {
  margin-bottom: 2rem;
}
.moduleOne .right-form .inner-common-form .form-group input,
.web-development-pg
  .moduleOne
  .right-form
  .inner-common-form
  .form-group
  textarea {
  border: 1px solid #fff;
  padding: 11px 15px;
  background: #ffffff;
  border-radius: 5px;
  color: #929292;
  font-size: 14px;
}
.web-development-pg
  .moduleOne
  .right-form
  .inner-common-form
  .form-group
  textarea {
  height: 100px;
}
.web-development-pg
  .moduleOne
  .right-form
  .inner-common-form
  .submit-btn
  input[type='submit'] {
  margin-top: 16px;
  border: none;
  padding: 13px 25px 11px;
  font-size: 16px;
  border-radius: 50px;
  min-width: inherit;
  min-height: inherit;
  line-height: inherit;
}
@media (max-width: 1500px) {
  .moduleOne .right-form .inner-common-form {
    padding: 40px 60px 40px 60px !important;
  }
}
@media (max-width: 1200px) {
  .moduleOne .right-form {
    max-width: 50%;
  }
  .moduleOne .right-form .inner-common-form {
    padding: 40px !important;
  }
}
@media (max-width: 991px) {
  .moduleOne .right-form .inner-common-form {
    padding: 40px 20px !important;
  }
}
@media (max-width: 767px) {
  .moduleOne .right-form {
    max-width: 100%;
  }
}
.moduleOne .bg-image {
  position: absolute;
  top: 0;
  right: 0;
  background-size: 90%;
  background-position: top right;
  width: 620px;
  height: 753px;
  background-repeat: no-repeat;
}
.moduleOne .bg-image img {
  max-width: 417px;
  position: absolute;
  right: -2px;
  bottom: 0;
  z-index: 99;
  webkit-transform: rotate(1.4deg);
  -webkit-transform: rotate(1.4deg);
  transform: rotate(1.4deg);
}
@media (min-width: 1921px) {
  .moduleOne .bg-image {
    bottom: 420px;
  }
}
@media (max-width: 1800px) {
  .moduleOne .bg-image img {
    right: 0;
  }
}
@media (max-width: 1500px) {
  .moduleOne .bg-image {
    background-size: 70%;
    height: 577px;
  }
  .moduleOne .bg-image img {
    max-width: 40%;
    webkit-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    transform: rotate(-1.7deg);
  }
}
@media (max-width: 1200px) {
  .moduleOne .bg-image img {
    display: none;
  }
}
@media (max-width: 991px) {
  .moduleOne .bg-image {
    background-size: 65%;
  }
}
@media (min-width: 1921px) {
  .moduleOne.sm-cont {
    padding-bottom: 340px;
  }
}
@media (min-width: 1400px) {
  .moduleOne.sm-cont .container {
    max-width: 1620px;
  }
}

@media (max-width: 767px) {
  .moduleOne {
    padding-bottom: 50px;
  }
  .moduleOne .left-content {
    margin: 0;
  }
}
.common-tabing {
  margin: 0 -120px 0 -23px;
}
.common-tabing .detailTab {
  padding-top: 10px;
}
.common-tabing .detailTab .tabing {
  display: block;
  border: 0;
  margin-bottom: 36px;
}
.common-tabing .detailTab .tabing .title {
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  position: relative;
}
.common-tabing .detailTab .tabing .title .long-arrow {
  height: 8px;
  width: 25px;
  background-size: 25px;
  margin-left: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.common-tabing .detailTab .tabing .title:after {
  height: 2px;
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background: #ffda30;
  left: 0;
  bottom: -5px;
}
.common-tabing .detailTab .tabing.current .title {
  font-weight: 700;
}
.web-development-pg
  .common-tabing
  .detailTab
  .tabing.current
  .title
  .long-arrow,
.common-tabing .detailTab .tabing:hover .title .long-arrow {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.common-tabing .detailTab .tabing.current .title:after,
.common-tabing .detailTab .tabing:hover .title:after {
  width: 100%;
}
.common-tabing .accMainDiv .accoContain {
  border: 0;
  padding: 0;
  font-size: 25px;
  line-height: 40px;
}
.blackIcon-section {
  position: relative;
  background: #303030;
  /*&:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 100%;
        height:360px;
        width: 100%;
        z-index: -1;
        background-size: 100% 100%;
    }*/
}
.blackIcon-section .container {
  max-width: 1000px;
}
.blackIcon-section .blacklist {
  color: #ffffff;
}
.blackIcon-section .blacklist .listrow {
  padding: 20px 0;
  border-bottom: solid 3px #474747;
}
.blackIcon-section .blacklist .listrow .iconbox {
  margin-right: 95px;
  width: 50px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  text-align: center;
}
.blackIcon-section .blacklist .listrow .iconbox figure {
  width: 50px;
  height: 50px;
  margin: auto;
}
.blackIcon-section .blacklist .listrow .iconbox figure img {
  max-width: 100%;
  max-height: 100%;
}
.blackIcon-section .blacklist .listrow .box-title {
  font-size: 22px;
  color: #ffffff;
  font-weight: 300;
  min-width: 175px;
}
.blackIcon-section .blacklist .listrow .box-bold-text {
  font-weight: 700;
  font-size: 22px;
  position: relative;
  padding-left: 187px;
}
.web-development-pg
  .blackIcon-section
  .blacklist
  .listrow
  .box-bold-text:before {
  display: block;
  content: '';
  height: 12px;
  width: 52px;
  background-size: 42px;
  margin: 0;
  position: absolute;
  left: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
}
.blackIcon-section .blacklist .listrow:last-child {
  border: 0;
}
@media (min-width: 1921px) {
  .blackIcon-section::before {
    height: 390px;
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .blackIcon-section:before {
    height: 200px;
  }
  .blackIcon-section .blacklist .listrow .iconbox {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    width: 50px;
    margin-right: 30px;
  }
  .web-development-pg
    .blackIcon-section
    .blacklist
    .listrow
    .iconbox
    figure
    img {
    max-height: 50px;
  }
  .blackIcon-section .blacklist .listrow .box-title {
    font-size: 16px;
  }
  .blackIcon-section .blacklist .listrow .box-bold-text {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 120px;
  }
  .web-development-pg
    .blackIcon-section
    .blacklist
    .listrow
    .box-bold-text:before {
    left: 15px;
  }
}
@media (max-width: 767px) {
  .blackIcon-section:before {
    display: none;
  }
  .blackIcon-section .blacklist .listrow .d-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blackIcon-section .blacklist .listrow .iconbox {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: auto auto 15px;
  }
  .blackIcon-section .blacklist .listrow .box-title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
    margin: auto auto 10px;
  }
  .blackIcon-section .blacklist .listrow .box-bold-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
  }
  .web-development-pg
    .blackIcon-section
    .blacklist
    .listrow
    .box-bold-text:before {
    display: none;
  }
}
.reasons-to-work {
  padding: 150px 0 0 0;
  overflow: hidden;
}
.reasons-to-work .heading-content {
  margin-bottom: 77px;
}
.reasons-to-work .container {
  max-width: 1440px;
}
.reasons-to-work .common-tabing {
  margin: 0 -92px 0 -22px;
}
.reasons-to-work .common-tabing .left-part {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.reasons-to-work .common-tabing .right-part {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.reasons-to-work .commonlistbox {
  margin: -75px 0 96px 0;
}
.reasons-to-work .commonlistbox p {
  font-size: 18px;
  line-height: 28px;
}
.reasons-to-work .testimonials-list .imgbox figure {
  margin: -125px 0 0 0;
}
.web-development-pg
  .reasons-to-work
  .testimonials-list
  .slick-list
  .item
  blockquote {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  max-width: 440px;
  margin: 0 0 33px 0;
  padding: 0 0 0 26px;
}
.web-development-pg
  .reasons-to-work
  .testimonials-list
  .slick-list
  .item
  blockquote:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 18px;
  height: 18px;
  background-size: 100%;
}
.web-development-pg
  .reasons-to-work
  .testimonials-list
  .slick-list
  .item
  blockquote
  .close-quote {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 7px;
  margin-bottom: -3px;
  width: 18px;
}
.web-development-pg
  .reasons-to-work
  .testimonials-list
  .slick-list
  .item
  .author-info {
  padding: 0 0 0 26px;
}
.web-development-pg
  .reasons-to-work
  .testimonials-list
  .slick-list
  .item
  .author-info
  .name {
  font-size: 20px;
  margin-bottom: 5px;
}
.web-development-pg
  .reasons-to-work
  .testimonials-list
  .slick-list
  .item
  .author-info
  .position {
  font-size: 16px;
  line-height: 18px;
}
.reasons-to-work .slick-dots {
  bottom: -78px;
  left: 26px;
  text-align: left;
}
.reasons-to-work .slick-dots li {
  margin: 0 5px;
}
.reasons-to-work .slick-dots li button {
  background: #aaa;
  opacity: 1;
  height: 10px;
  width: 10px;
}
.reasons-to-work .slick-dots li.slick-active button {
  background: #ffda30;
}
@media (max-width: 1599px) {
  .reasons-to-work .heading-content {
    padding-left: 20px;
  }
  .reasons-to-work .common-tabing {
    margin: 0;
  }
  .reasons-to-work .commonlistbox p {
    font-size: 18px;
    line-height: 28px;
  }
  .reasons-to-work .commonlistbox {
    margin-bottom: 50px;
  }
  .reasons-to-work .testimonials-list .imgbox figure {
    margin: -80px 0 0 0;
  }
}
@media (max-width: 1280px) {
  .reasons-to-work {
    padding: 100px 0 0 0;
  }
  .reasons-to-work .heading-content {
    text-align: center;
  }
  .reasons-to-work .common-tabing .detailTab .tabing {
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 0 5px;
  }
  .reasons-to-work .commonlistbox {
    margin: 0 0 50px 0;
  }
  .reasons-to-work .commonlistbox p {
    font-size: 16px;
    line-height: 1.5;
  }
  .reasons-to-work .commonlistbox p br {
    display: none;
  }
  .reasons-to-work .testimonials-list .imgbox figure {
    margin: -50px 0 0 0;
  }

  .reasons-to-work .testimonials-list .imgbox figure {
    margin: 0;
  }
  .web-development-pg
    .reasons-to-work
    .testimonials-list
    .slick-list
    .item
    .author-info
    .name {
    font-size: 18px;
  }
  .web-development-pg
    .reasons-to-work
    .testimonials-list
    .slick-list
    .item
    .author-info
    .position {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .reasons-to-work .commonlistbox {
    margin-bottom: 50px;
  }
  .reasons-to-work .common-tabing .accMainDiv .accoContain {
    font-size: 14px;
    line-height: 25px;
  }
  .reasons-to-work .testimonials-list .imgbox figure {
    margin: -30px 0 0 0;
  }
  .web-development-pg
    .reasons-to-work
    .testimonials-list
    .slick-list
    .item
    blockquote {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .web-development-pg
    .reasons-to-work
    .testimonials-list
    .slick-list
    .item
    blockquote:before {
    left: 5px;
    top: 0px;
    width: 14px;
    height: 14px;
  }
  .web-development-pg
    .reasons-to-work
    .testimonials-list
    .slick-list
    .item
    .author-info
    .name {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .web-development-pg
    .reasons-to-work
    .testimonials-list
    .slick-list
    .item
    .author-info
    .position {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .reasons-to-work .heading-content {
    margin-bottom: 50px;
  }
  .reasons-to-work .commonlistbox .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .reasons-to-work .commonlistbox figure {
    margin: 0 0 15px 0;
  }
  .reasons-to-work .commonlistbox p {
    margin-bottom: 0;
    font-size: 15px;
  }
  .reasons-to-work .common-tabing .left-part {
    display: none;
  }
  .reasons-to-work .common-tabing .right-part {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .web-development-pg
    .reasons-to-work
    .common-tabing
    .right-part
    .resp-accordion
    .title {
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
    line-height: 1.5;
    padding-right: 30px;
  }
  .web-development-pg
    .reasons-to-work
    .common-tabing
    .right-part
    .resp-accordion
    .title:after {
    content: '';
    background-size: 100%;
    width: 25px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .web-development-pg
    .reasons-to-work
    .common-tabing
    .right-part
    .resp-accordion.minus {
    position: relative;
  }
  .web-development-pg
    .reasons-to-work
    .common-tabing
    .right-part
    .resp-accordion.minus:after {
    height: 2px;
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    background: #ffda30;
    left: 0;
    bottom: -5px;
  }
  .web-development-pg
    .reasons-to-work
    .common-tabing
    .right-part
    .accMainDiv
    .accoContain {
    padding-top: 20px;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }
  .reasons-to-work .testimonials-list {
    padding-bottom: 70px;
  }
  .reasons-to-work .testimonials-list .imgbox figure {
    margin: 0 0 30px 0;
  }
  .reasons-to-work .slick-dots {
    bottom: -50px;
    left: 23px;
    text-align: left;
    right: 0;
    margin: auto;
  }
}
.reasons-to-rely {
  padding: 120px 0 80px 0;
}
.reasons-to-rely .heading-content {
  margin-bottom: 94px;
}
.reasons-to-rely .icon-listing {
  margin: 0 -30px;
}
.reasons-to-rely .icon-listing .iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 65px;
}
.reasons-to-rely .icon-listing .iconbox figure {
  margin: 0 24px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83px;
  flex: 0 0 83px;
  max-width: 83px;
  text-align: right;
}
.reasons-to-rely .icon-listing .iconbox .icon-title {
  font-size: 25px;
  line-height: 36px;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .reasons-to-rely {
    padding: 100px 0 20px 0;
  }
  .reasons-to-rely .heading-content {
    margin-bottom: 60px;
    text-align: center;
  }
  .reasons-to-rely .icon-listing .iconbox .icon-title {
    font-size: 20px;
    line-height: 35px;
  }
}
@media (max-width: 991px) {
  .reasons-to-rely .icon-listing {
    margin: 0;
  }
  .reasons-to-rely .icon-listing .iconbox figure {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    margin: 0 15px 0 0;
  }
  .reasons-to-rely .icon-listing .iconbox figure img {
    max-width: 50px;
    max-height: 40px;
  }
  .reasons-to-rely .icon-listing .iconbox .icon-title {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .reasons-to-rely {
    padding: 50px 0 20px 0;
  }
  .reasons-to-rely .icon-listing .iconbox {
    margin-bottom: 30px;
  }
  .reasons-to-rely .icon-listing .iconbox figure {
    text-align: center;
  }
  .reasons-to-rely .icon-listing .iconbox figure img {
    max-width: 50px;
    max-height: 40px;
  }
}
.dark-counter {
  background: #303030;
  color: #ffffff;
  padding: 98px 0 66px;
}
.dark-counter .descbox .title {
  font-size: 40px;
  color: #ffda30;
  font-weight: 600;
  margin-bottom: 22px;
}
.dark-counter .descbox p {
  font-weight: 300;
}
@media (max-width: 991px) {
  .dark-counter {
    padding: 80px 0 50px;
  }
  .dark-counter .descbox .title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .dark-counter .descbox p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .dark-counter {
    padding: 60px 0 32px;
  }
}
.develop-projects {
  padding: 100px 0 0;
}
.develop-projects .section-title {
  margin-bottom: 80px;
  text-align: center;
}
.develop-projects .inner-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.develop-projects .single-projects {
  position: relative;
  max-width: 25%;
  width: 100%;
}
.develop-projects .single-projects a {
  position: relative;
  display: block;
}
.web-development-pg
  .develop-projects
  .single-projects
  a
  .default-content
  figure {
  position: relative;
  padding-bottom: 89.5%;
}
.web-development-pg
  .develop-projects
  .single-projects
  a
  .default-content
  figure
  img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.develop-projects .single-projects a .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 37px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.develop-projects .single-projects a .overlay-content h6 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.develop-projects .single-projects a .hover-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 50px 58px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin-left: -30px;
}
.web-development-pg
  .develop-projects
  .single-projects
  a
  .hover-content
  .pro-name {
  position: relative;
  font-size: 50px;
}
.web-development-pg
  .develop-projects
  .single-projects
  a
  .hover-content
  .pro-name::after {
  display: block;
  content: '';
  height: 17px;
  width: 52px;
  background-size: 52px;
  margin: 21px auto 0 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  left: 0;
}
@media (max-width: 1600px) {
  .develop-projects .single-projects a .hover-content {
    padding: 40px 30px 50px;
  }
  .web-development-pg
    .develop-projects
    .single-projects
    a
    .hover-content
    .pro-name {
    font-size: 39px;
  }
}
@media (max-width: 1200px) {
  .develop-projects .single-projects a .hover-content {
    padding: 20px 25px 30px;
  }
  .web-development-pg
    .develop-projects
    .single-projects
    a
    .hover-content
    .pro-name {
    font-size: 30px;
  }
}
.develop-projects .single-projects a::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffda30;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.develop-projects .single-projects a:hover::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.develop-projects .single-projects a:hover .hover-content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-left: 0;
}
@media (max-width: 1200px) {
  .web-development-pg
    .develop-projects
    .single-projects
    a
    .default-content
    figure {
    padding-bottom: 100%;
  }
  .develop-projects .single-projects a .overlay-content {
    padding: 15px 25px;
  }
}
@media (max-width: 991px) {
  .develop-projects .single-projects {
    max-width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 500px) {
  .develop-projects .single-projects {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
@media (max-width: 1200px) {
  .develop-projects .section-title {
    font-size: 35px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .develop-projects {
    padding: 50px 0 0;
  }
  .develop-projects .section-title {
    font-size: 27px;
    margin-bottom: 30px;
  }
}
.marketing-tools {
  padding-top: 130px;
}
.marketing-tools .container {
  max-width: 1470px;
}
.marketing-tools .section-title {
  letter-spacing: -0.5px;
  margin-bottom: 115px;
}
.marketing-tools .logos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.marketing-tools .logos ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  margin-bottom: 100px;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1280px) {
  .marketing-tools {
    padding: 80px 0 0;
  }
  .marketing-tools .section-title {
    margin-bottom: 80px;
    font-size: 30px;
    line-height: 1.5;
  }
  .marketing-tools .logos ul li {
    margin-bottom: 50px;
  }
  .marketing-tools .logos ul li figure img {
    max-width: 130px;
    max-height: 50px;
  }
}
@media (max-width: 991px) {
  .marketing-tools {
    padding: 80px 0 20px;
  }
  .marketing-tools .section-title {
    font-size: 25px;
    margin: auto auto 40px;
  }
  .marketing-tools .logos ul li {
    margin-bottom: 30px;
    height: 55px;
  }
  .marketing-tools .logos ul li figure img {
    max-width: 90px;
    max-height: 40px;
  }
}
@media (max-width: 767px) {
  .marketing-tools .logos ul li {
    margin: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.industries-main {
  padding: 122px 0 190px;
  position: relative;
}
.industries-main:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 122px;
  z-index: -1;
  background-size: cover;
}
.industries-main:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 190px;
  z-index: -1;
  background-size: cover;
}
.industries-main .inner-bg {
  background: #f7f7f7;
  padding: 90px 0 45px;
}
.industries-main .inner-bg .heading-content {
  margin-bottom: 97px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1921px) {
  .industries-main {
    padding: 153px 0 240px;
  }
  .industries-main:before {
    height: 155px;
  }
  .industries-main:after {
    height: 240px;
  }
}
@media (max-width: 1280px) {
  .industries-main {
    padding-bottom: 162px;
  }
  .industries-main .heading-content {
    text-align: center;
  }
  .industries-main .inner-bg {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .industries-main {
    padding: 100px 0 120px;
  }
  .industries-main .inner-bg .heading-content {
    margin-bottom: 50px;
  }
}
.services-main {
  padding: 130px 0 190px 0;
  position: relative;
}
.services-main .heading-content {
  position: relative;
  z-index: 1;
}
.services-main .inner-bg {
  background: #f7f7f7;
  padding: 120px 0 45px;
}
.services-main:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: -1;
  background-size: cover;
}
.services-main:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 190px;
  z-index: -1;
  background-size: cover;
}
.services-main .container {
  max-width: 1170px;
}
.services-main .heading-content {
  margin-bottom: 50px;
}
.services-main .item {
  margin-bottom: 25px;
}
.services-main .services-title {
  margin-top: 22px;
  margin-bottom: 9px;
}
.services-main .services-title h4 {
  font-size: 14px;
  font-weight: 500;
}
.services-main .service-box {
  background: #ffda30;
  padding: 18px 30px;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 97px;
}
.services-main .service-box .box-title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 22px;
  width: 100%;
  color: #000000;
}
.services-main .service-box .box-link {
  color: #000000;
  font-weight: 500;
  position: relative;
  font-size: 14px;
  margin-bottom: 2px;
  display: inline-block;
  margin-top: auto;
  min-height: 14px;
}
.services-main .service-box .box-link:after {
  position: absolute;
  content: '';
  background: #000000;
  height: 2px;
  width: 100%;
  bottom: -4px;
  left: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.services-main .service-box.no-box-link {
  min-height: 125px;
}
.services-main .service-box .icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.services-main .service-box:hover {
  -webkit-box-shadow: 3px 3px 0px black;
  box-shadow: 3px 3px 0px black;
}
@media (min-width: 1921px) {
  .services-main {
    padding: 162px 0 260px;
  }
  .services-main:before {
    height: 162px;
  }
  .services-main:after {
    height: 260px;
  }
}
@media (max-width: 1280px) {
  .services-main {
    padding: 70px 0 110px 0;
  }
  .services-main:before {
    height: 73px;
  }
  .services-main .container {
    max-width: 1170px;
  }
  .services-main .heading-content {
    text-align: center;
    margin-bottom: 0;
  }
  .services-main .service-box .icon img {
    max-width: 100px;
    max-height: 40px;
  }
}
@media (max-width: 767px) {
  .services-main {
    padding: 30px 0 120px;
  }
  .services-main .inner-bg {
    padding: 100px 0 45px;
  }
  .services-main .item {
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .services-main .service-box {
    margin-bottom: 20px;
    min-height: inherit;
  }
  .services-main .service-box.no-box-link {
    min-height: inherit;
  }
  .services-main .service-box .icon img {
    max-height: 40px;
  }
}
@media (max-width: 480px) {
  .services-main:before {
    height: 35px;
  }
  .services-main .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.way-to-work {
  padding: 100px 0 50px 0;
  overflow: hidden;
}
.way-to-work .container {
  max-width: 1090px;
}
.way-to-work .heading-content {
  margin-bottom: 76px;
}
@media (max-width: 1280px) {
  .way-to-work {
    padding: 80px 0;
  }
  .way-to-work .heading-content {
    text-align: center;
    margin-bottom: 50px;
  }
  .way-to-work .common-tabing {
    margin: 0;
  }
  .way-to-work .common-tabing .detailTab {
    padding-top: 5px;
  }
  .way-to-work .common-tabing .detailTab .tabing {
    padding: 0 5px;
    margin-bottom: 20px;
  }
  .way-to-work .common-tabing .accMainDiv .accoContain {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .way-to-work {
    padding: 40px 0;
  }
  .way-to-work .common-tabing .leftpart {
    display: none;
  }
  .way-to-work .common-tabing .rightpart {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .way-to-work .common-tabing .resp-accordion .title {
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;
    line-height: 1.5;
    padding-right: 30px;
  }
  .way-to-work .common-tabing .resp-accordion .title:after {
    content: '';
    background-size: 100%;
    width: 25px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .way-to-work .common-tabing .resp-accordion.minus {
    position: relative;
  }
  .way-to-work .common-tabing .resp-accordion.minus:after {
    height: 2px;
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    background: #ffda30;
    left: 0;
    bottom: -5px;
  }
  .way-to-work .common-tabing .accMainDiv .accoContain {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    font-size: 16px;
  }
}
.our-blog-main {
  overflow: hidden;
  padding: 180px 0 150px 0;
  position: relative;
  display: none;
  margin-bottom: 50px;
  /***temporary***/
}
.our-blog-main .container {
  max-width: 1470px;
}
.our-blog-main .section-title {
  text-align: center;
  margin-bottom: 10px;
}
.our-blog-main .view-all {
  text-align: right;
  margin-bottom: 69px;
}
.our-blog-main .view-all a {
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  position: relative;
  padding-right: 37px;
  letter-spacing: 0.5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.our-blog-main .view-all a:after {
  display: block;
  content: '';
  height: 9px;
  width: 27px;
  background-size: 27px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.our-blog-main .view-all a:hover {
  padding-right: 25px;
  color: #ffda30;
}
.our-blog-main .view-all a:hover:after {
  width: 15px;
}
.our-blog-main .blog-slider-section .container {
  max-width: 1440px;
}
.our-blog-main .blog-slider {
  position: relative;
}
.our-blog-main .blog-slider .slick-list {
  overflow: inherit;
}
.web-development-pg
  .our-blog-main
  .blog-slider
  .slick-slide:nth-child(2n)
  .ratio-img {
  padding-bottom: 84%;
}
.our-blog-main .blog-slider .listbox {
  margin: 0 50px;
}
@media (min-width: 1201px) {
  .our-blog-main .blog-slider .listbox {
    width: 384px !important;
    max-width: 384px;
  }
}
.our-blog-main .blog-slider .listbox:last-child {
  margin-right: 0;
}
.our-blog-main .blog-slider .listbox .ratio-img {
  padding-bottom: 110%;
  margin-bottom: 32px;
}
.our-blog-main .blog-slider .listbox .ratio-img .view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.web-development-pg
  .our-blog-main
  .blog-slider
  .listbox
  .ratio-img
  .view::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 107px;
  height: 88px;
  margin: auto;
  -webkit-transform: scale(0) rotate(360deg);
  transform: scale(0) rotate(360deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.our-blog-main .blog-slider .listbox .ratio-img img {
  background-size: 100%;
  background-position: center center;
}
.web-development-pg
  .our-blog-main
  .blog-slider
  .listbox
  .box-info
  .box-sub-title {
  font-size: 20px;
  line-height: 27px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: #000000;
}
.our-blog-main .blog-slider .listbox .box-info ul {
  margin-bottom: 20px;
}
.our-blog-main .blog-slider .listbox .box-info ul li {
  display: inline-block;
  text-transform: uppercase;
  color: #9f9f9f;
  font-size: 12px;
  padding-right: 21px;
  position: relative;
}
.our-blog-main .blog-slider .listbox .box-info ul li:after {
  background: #b1b1b1;
  height: 10px;
  width: 1px;
  position: absolute;
  right: 8px;
  top: 1px;
  content: '';
}
.web-development-pg
  .our-blog-main
  .blog-slider
  .listbox
  .box-info
  ul
  li:last-child:after {
  display: none;
}
.our-blog-main .blog-slider .listbox .box-info ul li a {
  color: #9f9f9f;
}
.web-development-pg
  .our-blog-main
  .blog-slider
  .listbox
  .box-info
  ul
  li
  a:hover {
  color: #ffda30;
}
.web-development-pg
  .our-blog-main
  .blog-slider
  .listbox:hover
  .ratio-img
  .view {
  opacity: 1;
  visibility: visible;
}
.web-development-pg
  .our-blog-main
  .blog-slider
  .listbox:hover
  .ratio-img
  .view::before {
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}
.web-development-pg
  .our-blog-main
  .blog-slider
  .listbox:hover
  .box-info
  .box-sub-title {
  color: #676767;
}
.our-blog-main .progress {
  display: block;
  width: 100%;
  max-width: 975px;
  height: 4px;
  margin: auto;
  border-radius: 0;
  background-color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(black),
    to(black)
  );
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 0.4s ease-in-out;
  transition: background-size 0.4s ease-in-out;
  font-size: 0;
  position: absolute;
  bottom: 46px;
  left: 0;
  right: 0;
}
.our-blog-main .progress .slider__label {
  background-color: #c4c4c4;
  position: relative;
  z-index: -1;
  height: 2px;
  margin: 1px 0 0 0;
}
.our-blog-main .slick-prev {
  bottom: -149px;
  left: calc(100% - 10%);
}
.our-blog-main .slick-next {
  bottom: -149px;
  left: calc(100% - 7%);
}
@media (max-width: 1599px) {
  .our-blog-main .container {
    max-width: 1040px;
  }
  .our-blog-main .blog-slider .listbox {
    margin: 0 25px;
  }
  .our-blog-main .progress {
    left: 195px;
    right: auto;
    width: calc(100% - 40%);
  }
  .our-blog-main .slick-prev {
    left: calc(100% - 20%);
  }
  .our-blog-main .slick-next {
    left: calc(100% - 18%);
  }
}
@media (max-width: 1280px) {
  .our-blog-main {
    padding: 100px 0;
  }
  .our-blog-main .blog-slider {
    right: 0;
    margin: 0;
  }
  .our-blog-main .progress {
    display: none;
  }
  .our-blog-main .slick-next {
    bottom: -85px;
    left: 0px;
    right: -30px;
    margin: auto;
  }
  .our-blog-main .slick-prev {
    bottom: -85px;
    left: -30px;
    right: 0;
    margin: auto;
  }
  .our-blog-main .view-all {
    margin-bottom: 40px;
    padding-right: 8px;
  }
}
@media (max-width: 1200px) {
  .our-blog-main .blog-slider .listbox {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .our-blog-main {
    padding: 60px 0;
  }
  .our-blog-main .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .our-blog-main .view-all {
    margin-bottom: 15px;
  }
}
.FAQ-section {
  padding: 152px 0 200px;
  display: none;
}
.FAQ-section h2.title {
  margin-bottom: 100px;
}
.FAQ-section .container {
  max-width: 975px;
}
.FAQ-section .faq-acco {
  border-top: 1px solid #000000;
}
.FAQ-section .faq-acco .single-faq {
  padding: 36px 0 37px;
  border-bottom: 1px solid #000;
}
.FAQ-section .faq-acco .single-faq .acco-heading {
  padding-left: 50px;
  position: relative;
  cursor: pointer;
}
.FAQ-section .faq-acco .single-faq .acco-heading h4 {
  font-size: 20px;
}
.FAQ-section .faq-acco .single-faq .acco-heading::before {
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2px;
  height: 18px;
  background: #ffda30;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.FAQ-section .faq-acco .single-faq .acco-heading::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 18px;
  height: 2px;
  background: #ffda30;
}
.FAQ-section .faq-acco .single-faq .acco-content {
  padding: 30px 0 0 93px;
}
.web-development-pg
  .FAQ-section
  .faq-acco
  .single-faq
  .acco-content
  p:last-child {
  margin-bottom: 0;
}
.web-development-pg
  .FAQ-section
  .faq-acco
  .single-faq.active
  .acco-heading::before {
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
@media (max-width: 1500px) {
  .FAQ-section {
    padding: 60px 0 150px;
  }
  .FAQ-section h2.title {
    margin-bottom: 70px;
  }
}
@media (max-width: 1280px) {
  .FAQ-section {
    padding-bottom: 100px;
  }
  .FAQ-section .faq-acco .single-faq .acco-content {
    padding: 30px 0 0 80px;
  }
}
@media (max-width: 991px) {
  .FAQ-section h2.title {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .FAQ-section .faq-acco .single-faq {
    padding: 30px 0;
  }
  .FAQ-section .faq-acco .single-faq .acco-heading {
    padding-left: 40px;
  }
  .FAQ-section .faq-acco .single-faq .acco-content {
    padding: 20px 0 0 40px;
  }
}

.moduleOne.sm-cont {
  padding-top: 0;
}
.moduleOne.sm-cont .left-content {
  padding: 0 50px;
}
.moduleOne .container .row {
  align-items: center !important;
}
.submit-btn {
  position: relative;
  max-width: 245px;
  margin: auto;
}
.form-loader {
  transform: none;
  top: 20px;
}
@media (max-width: 1500px) {
  .moduleOne.sm-cont .left-content {
    padding: 0 30px;
  }
}
@media (max-width: 1200px) {
  .moduleOne .bg-image {
    display: none;
  }
  .reasons-to-work .commonlistbox p {
    font-size: 16px;
    line-height: 1.5;
  }
  .web-development-pg
    .reasons-to-work
    .testimonials-list
    .slick-list
    .item
    blockquote {
    font-size: 16px;
    line-height: 1.5;
  }

  .services-main .inner-bg {
    padding: 70px 0 0;
  }
  .services-main:after {
    height: 110px;
  }
  .services-main:before {
    height: 70px;
  }

  .download-rate-cart.common-form {
    padding: 70px 0 110px;
  }
  .download-rate-cart.common-form::before {
    height: 70px;
  }
  .download-rate-cart.common-form::after {
    height: 110px;
  }
  .rate-card-main {
    padding: 40px 0 0 0;
  }
  .book-meeting .rate-card-main .inner-common-form {
    padding-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .heading-content h2 .uplers-shape {
    width: 50px;
    height: 50px;
    margin: -5px 0 0 -10px;
  }
  .moduleOne .right-form .inner-common-form h3 {
    font-size: 25px;
    padding: 0 0 25px 0;
  }
  .moduleOne .right-form .inner-common-form .form-group {
    margin-bottom: 15px;
  }
  .reasons-to-work {
    padding: 80px 0 0 0;
  }
  .reasons-to-work .heading-content {
    margin-bottom: 40px;
  }
  .reasons-to-work .commonlistbox p {
    font-size: 15px;
  }
  .web-development-pg
    .reasons-to-work
    .testimonials-list
    .slick-list
    .item
    blockquote {
    font-size: 15px;
  }
  .reasons-to-rely {
    padding: 60px 0 40px 0;
  }
  .reasons-to-rely .heading-content {
    margin-bottom: 30px;
  }
  .reasons-to-rely .icon-listing .iconbox {
    margin-bottom: 40px;
  }
  .develop-projects {
    padding: 80px 0 0;
  }
  .develop-projects .section-title {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .download-rate-cart .inner-common-form {
    padding-bottom: 60px;
  }
  .services-main .inner-bg {
    padding: 60px 0;
  }
  .services-main {
    padding: 50px 0 80px;
  }
  .services-main:before {
    height: 50px;
  }
  .services-main:after {
    height: 80px;
  }
  .download-rate-cart.common-form {
    padding: 50px 0 80px;
  }
  .download-rate-cart.common-form::before {
    height: 50px;
  }
  .download-rate-cart.common-form::after {
    height: 80px;
  }
  .way-to-work {
    padding: 60px 0;
  }
  .moduleOne.sm-cont .left-content {
    padding: 30px 20px 30px;
  }
}
@media (max-width: 767px) {
  .heading-content h2 .uplers-shape {
    height: 40px;
    width: 40px;
  }
  .marketing-tools .section-title {
    font-size: 22px;
  }
  .way-to-work .heading-content {
    margin-bottom: 20px;
  }
  .reasons-to-work .heading-content {
    margin-bottom: 20px;
  }
  .blackIcon-section .blacklist .listrow .iconbox figure {
    height: 40px;
  }
  .web-development-pg
    .blackIcon-section
    .blacklist
    .listrow
    .iconbox
    figure
    img {
    max-height: 40px;
  }
  .blackIcon-section .blacklist .listrow {
    border-width: 1px;
  }
  .reasons-to-work .heading-content {
    margin-bottom: 20px;
  }
  .develop-projects {
    padding: 60px 0 0;
  }
  .develop-projects .single-projects a .overlay-content {
    font-size: 15px;
  }
  .develop-projects .single-projects a .overlay-content h6 {
    font-size: 15px;
  }
  .marketing-tools {
    padding: 60px 0 20px;
  }
  .services-main .service-box {
    padding: 15px;
  }
  .services-main .service-box .box-title {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .marketing-tools {
    padding: 60px 0 40px;
  }
  .services-main {
    padding: 30px 0 40px;
  }
  .services-main:before {
    height: 30px;
  }
  .services-main:after {
    height: 40px;
  }
  .heading-content h2 {
    margin-bottom: 10px;
  }
  .download-rate-cart .inner-common-form {
    padding: 50px 0;
  }
  .download-rate-cart.common-form {
    padding: 30px 0 40px;
  }
  .download-rate-cart.common-form::before {
    height: 30px;
  }
  .download-rate-cart.common-form::after {
    height: 40px;
  }
  .book-meeting {
    padding-bottom: 40px;
  }
  .book-meeting .query-msg {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
